@use "../partials/colors";
@use "../partials/mixins";

.contact {
  padding: 20px;
  &__heading {
    &--large {
      @include mixins.font(colors.$snap-shot, 300, 0);
      font-size: 4em;
      margin-bottom: 20px;
    }
    &--small {
      font-family: "Montserrat", sans-serif;
      color: colors.$snap-shot;
      font-size: 2em;
      margin: 0;
    }
  }
  a {
    text-decoration: none;
    color: colors.$snap-shot;
  }
  &__container {
    @include mixins.flexbox(row, space-evenly);
    flex-wrap: wrap;
    align-items: center;
  }
  &__icons {
    &--teal {
      color: colors.$aloha;
      padding: 10px;
    }
    &--red {
      color: colors.$mandarin-red;
      padding: 10px;
    }
  }
}
