@use "../partials/mixins";
@use "../partials/colors";

.projects {
  &__heading {
    &--large {
      @include mixins.font(colors.$snap-shot, 300, 0);
      font-size: 4em;
      padding: 20px;
      text-align: center;
    }
    &--small {
      @include mixins.font(colors.$snap-shot, bold, 0);
      font-size: 1.5em;
      text-align: center;
    }
  }
  &__container {
    background-color: colors.$snap-shot;
    @include mixins.flexbox(row, center);
    flex-wrap: wrap;
    align-items: stretch;
    padding: 50px;
    gap: 30px;
  }
  &__card {
    width: 320px;
    height: 550px;
    background-color: colors.$white;
    @include mixins.flexbox(column, space-between);
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  img {
    width: 90%;
    height: 180px;
    object-fit: contain;
    border: solid 1px colors.$carbon;
    border-radius: 15px;
  }
  &__description {
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    text-align: center;
    color: colors.$carbon;
    font-size: 0.95em;
    padding: 10px;
    flex-grow: 1;
  }
  .icons-wrapper {
    @include mixins.flexbox(row, center);
    gap: 15px;
  }
  &__icons {
    &--teal {
      color: colors.$aloha;
      text-decoration: none;
      font-size: 2.5em;
      padding: 10px;
      transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;

      &:hover {
        color: darken(colors.$aloha, 10%);
        transform: scale(1.2);
      }
    }
    &--red {
      color: colors.$mandarin-red;
      text-decoration: none;
      font-size: 2.5em;
      padding: 10px;
      transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;

      &:hover {
        color: darken(colors.$mandarin-red, 10%);
        transform: scale(1.2);
      }
    }
  }
}
